{
    "properties":{
        "libDir":"/opt/CrsCli/lib",
        "pluginsDir":"/opt/avrocli/lib"
    },
    "controllers":{
        "org.clamshellcli.impl.CmdController":{
            "enabled":"true",
            "inputPattern":"\\s*(exit|help|time|describe|select|bulkAvroToCsv|ls)\\b.*",
            "expectedInputs":[]
        }
    }
}
